<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script> 
    
    <button style="width:200px;height:100px;" onclick="javascript:on()">Smoke weed every day</button><br />
    <button style="width:200px;height:100px;" onclick="javascript:off()">Off</button>
    <script type="text/javascript">
    function on() {
        $.get("/on")
    }
    function off() {
        $.get("/off")
    }

    </script>
</body>
</html>
